* linguist-vendored
*.js linguist-vendored=false
.factory export-ignore
.gitattributes export-ignore
.github export-ignore
.gitignore export-ignore
1.png export-ignore
2.png export-ignore
README.md export-ignore